{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>The Teams</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <h1 class="teamheader">Documentation Team</h1>
    <div class="infobox">
      <p class="info">
        The documentation team photographs all events, follows up with guest
        speakers, and manages Base Camp's social medias.
      </p>
      <p class="members">The members are:</p>
      <ul>
        <li>Ben</li>
        <li>Ma'kyla</li>
        <li>Isaac</li>
        <li>Ryan</li>
        <li>Randy</li>
      </ul>
    </div>
  </body>
</html>
