{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>The Teams</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <h1 class="teamheader">Procurement Team</h1>
    <div class="infobox">
      <p class="info">
        The procurement team orders all supplies needed at Base Camp and sets
        out and cleans up lunch.
      </p>
      <p class="members">The members are:</p>
      <ul>
        <li>Richard</li>
        <li>Dylan S.</li>
        <li>Mariann</li>
        <li>Quinton</li>
        <li>Ethan</li>
        <li>Gary</li>
      </ul>
    </div>
  </body>
</html>
